<mat-card class="mx-4 my-4">
  <mat-card-title>Cambios en tiempo real</mat-card-title>
  <mat-card-subtitle>
    Mostrando tabla, columna modificada, valor anterior y nuevo.
  </mat-card-subtitle>
  <mat-card-content>
    <h3>Friends</h3>

    <ng-template #noFriends>
      <p>No hay friends para mostrar.</p>
    </ng-template>

  </mat-card-content>

  <mat-card-content>
    <table mat-table [dataSource]="data" class="mat-elevation-z2 fullwidth">

      <ng-container matColumnDef="table">
        <th mat-header-cell *matHeaderCellDef> Tabla </th>
        <td mat-cell *matCellDef="let r">
          <mat-chip-set>
            <mat-chip color="primary" selected>{{ r.table }}</mat-chip>
          </mat-chip-set>
        </td>
      </ng-container>

      <ng-container matColumnDef="oldName">
        <th mat-header-cell *matHeaderCellDef> Valor anterior Nombre </th>
        <td mat-cell *matCellDef="let r">{{ r.oldName || '—' }}</td>
      </ng-container>

      <ng-container matColumnDef="oldGender">
        <th mat-header-cell *matHeaderCellDef> Valor anterior Género </th>
        <td mat-cell *matCellDef="let r">{{ r.oldGender || '—' }}</td>
      </ng-container>

      <ng-container matColumnDef="newName">
        <th mat-header-cell *matHeaderCellDef> Valor nuevo Nombre </th>
        <td mat-cell *matCellDef="let r"><b>{{ r.newName || '—' }}</b></td>
      </ng-container>

      <ng-container matColumnDef="newGender">
        <th mat-header-cell *matHeaderCellDef> Valor nuevo Género </th>
        <td mat-cell *matCellDef="let r"><b>{{ r.newGender || '—' }}</b></td>
      </ng-container>

      <ng-container matColumnDef="when">
        <th mat-header-cell *matHeaderCellDef> Fecha/Hora </th>
        <td mat-cell *matCellDef="let r">
          {{ r.changedAt ? (r.changedAt | date:'short') : '—' }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row        *matRowDef="let r; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>
